*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: black;
}

h2 {
    font-size: 2.2rem;
}

p {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Nav Bar */

.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(175, 175, 175, 0.5);
   position: fixed;
   top: 100; 
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    width: 100%;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    height: 940 px;
    color: black;
}

#home p {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 40px;
    text-align: center;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    width: 100%;
    height: 1000px;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    margin-top: 1100px;
}

.headings{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 20px 0px;

}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    outline: none;
    transition: .6s ease;
    margin-top: 80px;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px whitesmoke, 0 0 15px white;
    font-weight: bold;
}

/*Pic Section*/
#pic {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo img{
    width: 400px;
    height: 400px;
    position: relative;
    align-content: center;
}

/*#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 100px;
}*/

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    margin-top: 320px;
    margin-bottom: 10px;
    background-color: lightblue;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

#skills {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    padding: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: lightblue;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
#skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: 50px;
  }

footer {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 50px;
    margin-bottom: 80px;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
